* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Log {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.main {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
}

.sele {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.Card {
  position: relative;
  width: 250px;
  height: 300px;
}

.Card .face {
  background-color: rgb(59, 123, 220);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  border: 4px solid rgb(190, 190, 49);
}

.Card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.Card figure {
  width: 100%;
  height: 70%;
}

.Card .front img {
  width: 100%;
  height: 100%;
}

.Card div {
  margin-left: auto;
  margin-right: auto;
}

.Card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(19, 59, 83);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: center; */
  box-shadow: 0 3px 8px #000;
}

.Card .back h3 {
  text-align: center;
  margin-top: 0;
  font-size: 2rem;
  letter-spacing: 2px;
  color: rgb(203, 203, 203);
}

.Card .back p {
  text-align: left;
  color: rgb(255, 255, 255);
}

.Name {
  list-style-type: none;
  width: 100%;

  background-color: aliceblue;
  border-radius: 20px;
  margin: 0;
  padding: 5px;
  display: flex;
  list-style-type: none;
}
.Name li::after {
  content: "- ";
  color: rgb(0, 0, 0);
}

.Habilidades {
  width: 96%;
  height: 2.5rem;
  background-color: aliceblue;
  border-radius: 20px;
  margin-top: -10px;
  padding: 5px;
}

.Tipo {
  width: 96%;
  height: 2.5rem;
  background-color: aliceblue;
  border-radius: 20px;
  margin-top: -10px;
  padding: 5px;
}

.Card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.Card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
